.container {
  width: 96%;
  padding: 0 18px;
  min-width: 320px;
  max-width: 571px;
  margin: auto;
}

@mixin desktop {
  @media (min-width: 1316px) {
    @content;
    .container {
    width: 96%;
    }
  }
}

@include desktop {
.nav {
  &__button {
    display: flex;
  }

  &__list {
    display: flex;
  }
  &__burger {
    display: none;
  }


  &__logo {
    &__desktop {
      display: flex;
    }
    &__mobile {
      display: none;
    }
  }
}
}