.best-deal {
  background: #000;
  color: white;
  text-align: center;
  padding-top: 140px;

  &__wrapper {
    display: grid;
    grid-column: auto;
    text-align: left;
    gap: 80px;
  }

  &__svitch-box {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 600px;
    text-align: center;
    gap: 16px;
    padding-top: 40px;
    padding-bottom: 40px;

    &--item {
      width: 104px;
      height: 52px;
      border-radius: 36px;
      background: white;
    }
  }

  &__select-key {
    width: 36px;
    height: 36px;
    background: #a8ff35;
    border-radius: 99px;
    margin-left: 10px;
    margin-top: 8px;
  }

  &__cards {
    width: 100%;
    border-radius: 12px;
    background: #ffffff;
    padding: 32px;
    height: 640px;
    color: #000;
    transition: background 0.3s ease;

    &:hover {
      background: #a8ff35;

      .best-deal__btn {
        background-color: #0e0e0e;
        color: #ffffff;
      }
    }

    &--title {
      font-size: 36px;
    }

    &--text {
      padding-bottom: 12px;
      padding-top: 8px;
    }

    &--price {
      padding-top: 32px;
      font-size: 64px;
      padding-bottom: 24px;

      span {
        font-size: 16px;
      }
    }

    &--info {
      padding-left: 20px;
      padding-bottom: 24px;
    }

    img {
      margin-right: 15px;
    }
  }

  &__btn {
    display: block;
    margin: auto;
    width: 280px;
    margin-top: 184px;
    background: #a8ff35;
    color: #000;
    padding: 12px 24px;
    text-align: center;
    border-radius: 24px;
    transition: background 0.3s ease;

    &:hover {
      background: #0a0a0a;
    }
  }
}

@include desktop {
  .best-deal {
    &__title {
      font-size: 64px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 120px;
    }
    &__cards {
      width: 100%;
      border-radius: 12px;
      background: #ffffff;
      padding: 32px;
      height: 640px;
      color: #000;
      transition: background 0.3s ease;
    }

    &--title {
      font-size: 64px;
    }
  }
}
